{% extends 'layout.html' %}
{% load humanize %}

{% block content %}
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Barcha maxsulotlar shuyerda <br> categoryalardan tanlang</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <h5 class="breadcrumb-item"><a href="{% url 'shop_product:pro' %}"><strong>Home</strong></a>
                            </h5>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="section-margin--small mb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="sidebar-categories">
                        <div class="head">Maxsulot Categoriyalari</div>
                        <div class="main-categories">
                            {% for re in cat %}
                                <ul>
                                    <a href="{% url 'shop_product:category_by_id' re.id %}"
                                       class="button button-paypal text-center mt-3">{{ re.name }}</a>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="filter-bar d-flex flex-wrap justify-content-center">
                        <div>
                            <div class="input-group filter-bar-search ">
                                <form action="{% url 'shop_product:search_cat' %}" method=POST class="input-group filter-bar-search ">
                                    {% csrf_token %}
                                    <input type="text" placeholder="Search"  name="searched_cat">
                                    <div class="input-group-append">
                                        <button class="search_button" type="submit"><i class="ti-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <section class="lattest-product-area pb-40 category-list">
                        <div class="row">
                            {% for product in all_product %}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product border">
                            <div class="card-product__img ">
                                <img class="card-img" src="{{ product.image.url }}" alt="">
                            </div>
                            <div class="card-body">
                                <h3>{{ product.name }}</h3>
                                <p>{{ product.brand }}</p>
                                <h6 class="card-product__title mt-2"><a
                                        href="{% url 'shop_product:pro_detail' product.slug %}">Ko'rish
                                </a></h6>
                                <i class="
                                        {% if product.rating < 0.5 %}far fa-star {% elif product.rating == 0.5 %} fa fa-star-half-alt {% else %} fa fa-star {% endif %} "
                                   aria-hidden="true" style="color: yellow"></i>
                                <i class="
                                         {% if product.rating < 1.5 %}far fa-star {% elif product.rating == 1.5 %}fa fa-star-half-alt {% else %} fa fa-star{% endif %} "
                                   aria-hidden="true" style="color: yellow"></i>
                                <i class="
                                        {% if product.rating < 2.5 %}far fa-star{% elif product.rating == 2.5 %}fa fa-star-half-alt {% else %} fa fa-star{% endif %} "
                                   aria-hidden="true" style="color: yellow"></i>
                                <i class="
                                         {% if product.rating < 3.5 %}far fa-star{% elif product.rating == 3.5 %}fa fa-star-half-alt {% else %} fa fa-star{% endif %} "
                                   aria-hidden="true" style="color: yellow"></i>
                                <p class="card-product__price text-danger"><strong>$</strong> {{ product.selling_price|intcomma }}</p>
                                
                            <tr>
                                <th><i class="bi bi-eye-fill"></i> {{ product.view_count }}</th>
                            </tr>
                            <br/>
                            {% if user.is_authenticated and product.user_id == user.id or user.is_staff %}
                                    <a class="btn bg-primary text-white"
                                       href="{% url 'shop_product:product_edit' product.id %}"><small><i>Edit</i></small></a>
                                {% endif %}
                                
                                {% if user.is_authenticated and product.user_id == user.id or user.is_staff %}
                                    <a class="btn bg-danger text-white ml-1"
                                       href="{% url 'shop_product:delete_product' product.id %}"><small><i>Delete</i></small></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}