{% extends 'layout.html' %}

{% block content %}
    <section class="checkout_area section-margin--small">
        <div class="container">
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>User Address</h3>
{#                        {% for ad in adress %}#}
{#                        <ul class="list-group">#}
{#                            <li class="list-group-item">{{ ad.user }}</li>#}
{#                            <li class="list-group-item">{{ ad.first_name }}</li>#}
{#                            <li class="list-group-item">{{ ad.last_name }}</li>#}
{#                            <li class="list-group-item">{{ ad.city }}</li>#}
{#                            <li class="list-group-item">{{ ad.district }}</li>#}
{#                            <li class="list-group-item">{{ ad.street }}</li>#}
{#                            <li class="list-group-item">{{ ad.email }}</li>#}
{#                            <li class="list-group-item">{{ ad.phone }}</li>#}
{#                            <li class="list-group-item">{{ ad.house_number }}</li>#}
{#                        </ul>#}
{#                        {% endfor %}#}
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            {{ carttt }}
{#                            {% for dr in carttt %}#}
{#                                <ul class="list">#}
{#                                    <li>User<h4></h4><span>{{ dr.user.name }}</span></li>#}
{#                                    <li><h4>Product <span>{{ dr.product.cartproduct_set.all }}</span></h4></li>#}
{#                                    <li><h4>Quantity</h4>{{ dr.quantity }}</li>#}
{#                                    <li><h4>Quantity</h4>{{ dr.product.selling_price }}</li>#}
{#                                    <li><h4>Total Price <span>{{ dr.total }}</span></h4></li>#}
{#                                </ul>#}
{#                            {% endfor %}#}
                            <a class="button button-paypal text-center" href="#">To'lov</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}