{% extends 'layout.html' %}

{% block content %}
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Buyurtmani tasdiqlash</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'shop_product:pro' %}">Home</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Product id</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ret in orders %}
                        <tr>
                            <td>
                                <h5><a href="{% url 'shop_product:order_detail' ret.pk %}">{{ ret.user }}</a> </h5>
                            </td>
                            <td>
                                <h5>{{ ret.email }}</h5>
                            </td>
                            <td>
                                <h5>{{ ret.phone }}</h5>
                            </td>
                            <td>
                                <h5>{{ ret.id }}</h5>
                            </td>
                            <td>
                                <h5>{{ ret.total }}</h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5><a href="{% url 'shop_product:payme' %}" class="btn btn-primary">To'lov</a></h5>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{#<section class="order_details section-margin--small">#}
{#        <div class="container">#}
{#            <p class="text-center billing-alert">Rahmat. Sizning buyurtmangiz qabul qilindi.</p>#}
{#            <div class="row mb-5">#}
{#                <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">#}
{#                    <div class="confirmation-card">#}
{##}
{#                        <h3 class="billing-title">{{ drf.user }} sizning maluomtiz</h3>#}
{#                        <table class="order-rable">#}
{#                            {% for drf in orders %}#}
{#                                <tr>#}
{#                                    <td>Ism</td>#}
{#                                    <td>: {{ drf.user }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>Familya</td>#}
{#                                    <td>: {{ drf.last_name }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>Tel</td>#}
{#                                    <td>: {{ drf.phone }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>Email</td>#}
{#                                    <td>: {{ drf.email }}</td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">#}
{#                    <div class="confirmation-card">#}
{#                        <h3 class="billing-title">Buyurtma haqida ma'lumot</h3>#}
{#                        <table class="order-rable">#}
{#                            <tr>#}
{#                                {% for rt in orders %}#}
{#                                    <td>Buyurtma raqami</td>#}
{#                                    <td>: {{ rt.id }}</td>#}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                        <td>Vaqti</td>#}
{#                                        <td>: {{ drf.createdAt }}</td>#}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                        <td>Jami Summa</td>#}
{#                                        <td>: {{ drf.cart.total }}</td>#}
{#                                    </tr>#}
{#                                {% endfor %}#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">#}
{#                    <div class="confirmation-card">#}
{#                        <h3 class="billing-title">Yetkazib berish manzili</h3>#}
{#                        <table class="order-rable">#}
{#                            <tr>#}
{#                                <td>Shaxar</td>#}
{#                                <td>: {{ drf.city }}</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>Tuman</td>#}
{#                                <td>: {{ drf.district }}</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>Ko'cha</td>#}
{#                                <td>: {{ drf.street }}</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>Uy raqami</td>#}
{#                                <td>: {{ drf.house_number }}</td>#}
{#                            </tr>#}
{##}
{#                        </table>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="order_details_table">#}
{#                <h2>Buyurtma tafsilotlari</h2>#}
{#                <div class="table-responsive">#}
{#                    <table class="table">#}
{#                        <thead>#}
{#                        <tr>#}
{#                            <th scope="col">Product</th>#}
{#                            <th scope="col">Quantity</th>#}
{#                            <th scope="col">Total</th>#}
{#                        </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                        <tr>#}
{#                            <td>#}
{#                                <p>Pixelstore fresh Blackberry</p>#}
{#                            </td>#}
{#                            <td>#}
{#                                <h5>x 02</h5>#}
{#                            </td>#}
{#                            <td>#}
{#                                <p>$720.00</p>#}
{#                            </td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>#}
{#                                <p>Pixelstore fresh Blackberry</p>#}
{#                            </td>#}
{#                            <td>#}
{#                                <h5>x 02</h5>#}
{#                            </td>#}
{#                            <td>#}
{#                                <p>$720.00</p>#}
{#                            </td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>#}
{#                                <p>Pixelstore fresh Blackberry</p>#}
{#                            </td>#}
{#                            <td>#}
{#                                <h5>x 02</h5>#}
{#                            </td>#}
{#                            <td>#}
{#                                <p>$720.00</p>#}
{#                            </td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>#}
{#                                <h4>Subtotal</h4>#}
{#                            </td>#}
{#                            <td>#}
{#                                <h5></h5>#}
{#                            </td>#}
{#                            <td>#}
{#                                <p>$2160.00</p>#}
{#                            </td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>#}
{#                                <h4>Shipping</h4>#}
{#                            </td>#}
{#                            <td>#}
{#                                <h5></h5>#}
{#                            </td>#}
{#                            <td>#}
{#                                <p>Flat rate: $50.00</p>#}
{#                            </td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>#}
{#                                <h4>Total</h4>#}
{#                            </td>#}
{#                            <td>#}
{#                                <h5></h5>#}
{#                            </td>#}
{#                            <td>#}
{#                                <h4>$2210.00</h4>#}
{#                            </td>#}
{#                        </tr>#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}