{% extends 'layout.html' %}
{% load i18n %}

{% block content %}

    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="owl-carousel owl-theme s_Product_carousel">
                        <div class="single-prd-item">
                            <img class="img-fluid" src="{{ product.image.url }}" alt="">
                        </div>
                        <!-- <div class="single-prd-item">
                            <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                        </div>
                        <div class="single-prd-item">
                            <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3><span>{% trans 'Categoriya' %}</span> : {{ product.category.name }}</h3>
                        <h2><span>{% trans 'Nomi:' %}</span>: {{ product.name }}</h2>
                        <h2><i class="bi bi-eye-fill"></i> {{ product.view_count }}</h2>

                        <h2><strong>{% trans 'Sotuvda' %}</strong>: {% if product.countInstok <= 0 %}Yoq{% else %}
                            Bor{% endif %} {{ product.countInstok }}</h2>


                        <h2>{% trans 'Oldingi narx:' %}  <strike>{{ product.marked_price }}</strike>  . Sum</h2>
                        <h2>{% trans 'Xozirgi narx:' %}  {{ product.selling_price }} . Sum</h2>
                        <p>{{ object.description }}</p>
                        
                        <a href="{% url 'shop_product:add_to_cart' product.id%}" class="btn btn-primary btn-md my-0 p {% if product.countInstok <= 0 %} disabled {% else %} active {% endif %}">
                         {% trans 'Savatchaga qoshish' %}
                         <i class="fas fa-shopping-cart ml-1"></i>
                       </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                       aria-selected="true">{% trans 'Tavsif' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile"
                       aria-selected="false">{% trans 'Xususiyat' %}</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>{{ product.description }}</p>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <h5>User Product</h5>
                                </td>
                                <td>
                                    <h5>{{ product.user }}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>{% trans 'Klient' %}</h5>
                                </td>
                                <td>
                                    <h5>{{ request.user }}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>{% trans 'Product nomi' %}</h5>
                                </td>
                                <td>
                                    <h5>{{ product.name }}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>{% trans 'Categoriya' %}</h5>
                                </td>
                                <td>
                                    <h5>{{ product.category }}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>{% trans 'Mahsulot brandi' %}</h5>
                                </td>
                                <td>
                                    <h5>{{ product.brand }}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>{% trans 'Mahsukot reytingi' %}</h5>
                                </td>
                                <td>
                                    <h5>{{ product.rating }}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>{% trans 'Sotuvda nechta bor' %}</h5>
                                </td>
                                <td>
                                    <h5>{{ product.countInstok }}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>{% trans "Qo'shilgan vaqti" %}</h5>
                                </td>
                                <td>
                                    <h5>{{ product.createDat }}</h5>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}