{% extends 'layout.html' %}


{% block content %}
    <div class="container">
        <table class="table table-bordered table-hover table-striped">
            <tbody>
            <div class="row">
                {% for product in products %}
                    <div class="col-lg-4">
                        <div class="card-deck mt-5" style="width: 18rem;">
                            <div class="card">
                                <a href="{% url "shop_product:page_product" product.id %}" class="img">
                                    <img src="{{ product.image.url }}" class="img-fluid" alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.brnad }} {{ product.price }}</p>
                                    <i class="
                                    {% if product.rating < 0.5 %}far fa-star {% elif product.rating == 0.5 %} fa fa-star-half-alt {% else %} fa fa-star {% endif %} "
                                       aria-hidden="true" style="color: yellow"></i>
                                    <i class="
                                     {% if product.rating < 1.5 %}far fa-star {% elif product.rating == 1.5 %}fa fa-star-half-alt {% else %} fa fa-star{% endif %} "
                                       aria-hidden="true" style="color: yellow"></i>
                                    <i class="
                                    {% if product.rating < 2.5 %}far fa-star{% elif product.rating == 2.5 %}fa fa-star-half-alt {% else %} fa fa-star{% endif %} "
                                       aria-hidden="true" style="color: yellow"></i>
                                    <i class="
                                     {% if product.rating < 3.5 %}far fa-star{% elif product.rating == 3.5 %}fa fa-star-half-alt {% else %} fa fa-star{% endif %} "
                                       aria-hidden="true" style="color: yellow"></i>
                                    <i class="
                                     {% if product.rating < 4.5 %}far fa-star{% elif product.rating == 4.5 %}fa fa-star-half-alt {% else %} fa fa-star{% endif %} "
                                       aria-hidden="true" style="color: yellow"></i>
                                    <p>$ {{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </tbody>
        </table>
    </div>
{% endblock content %}