{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block content %}

    <section class="hero-banner">
        <div class="container">
            <div class="row no-gutters align-items-center pt-60px">
                <div class="col-5 d-none d-sm-block">
                    <div class="hero-banner__img">
                        <img src="{% static 'image/hero-banner.png' %}" style="width: 353px; height: 400px;"
                             class="img-fluid" alt="Erkin">
                    </div>
                </div>
                <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                    <div class="hero-banner__content">
                        <h4>Do'kon qiziqarli</h4>
                        <h1>Premium mahsulotimizni ko'rib chiqing</h1>
                        <a class="button button-hero" href="#">Hozir ko'rib chiqish</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main class="site-main">
    <section class="section-margin mt-0">
        <div class="owl-carousel owl-theme hero-carousel">
            {% for product in products %}
            {% if product.rating > 3.5 %} 
            <div class="hero-carousel__slide">
                <img src="{{ product.image.url }}" alt="" class="img-fluid">
                <a href="#" class="hero-carousel__slideOverlay">
                    <h3>{{ product.name }}</h3>
                    <p>Accessories Item</p>
                </a>
            </div>
            {% endif %}
            {% endfor %}
            
            

        </div>
    </section>
    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <p>Bozorda mashhur mahsulot</p>
                <h2>Ommabop <span class="section-intro__style">Mahsulot</span></h2>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product border">
                            <div class="card-product__img ">
                                <img class="card-img" src="{{ product.image.url }}" alt="">
                            </div>
                            <div class="card-body">
                                <h3>{{ product.name }} </h3>
                                    
                                
                                <p>{{ product.brand }}</p><p><i class="bi bi-eye-fill"></i> {{ product.view_count }}</p>
                                <h6 class="card-product__title mt-2"><a
                                        href="{% url 'shop_product:pro_detail' product.slug %}">Ko'rish
                                </a></h6>
                                <i class="
                                        {% if product.rating < 0.5 %}far fa-star {% elif product.rating == 0.5 %} fa fa-star-half-alt {% else %} fa fa-star {% endif %} "
                                   aria-hidden="true" style="color: yellow"></i>
                                <i class="
                                         {% if product.rating < 1.5 %}far fa-star {% elif product.rating == 1.5 %}fa fa-star-half-alt {% else %} fa fa-star{% endif %} "
                                   aria-hidden="true" style="color: yellow"></i>
                                <i class="
                                        {% if product.rating < 2.5 %}far fa-star{% elif product.rating == 2.5 %}fa fa-star-half-alt {% else %} fa fa-star{% endif %} "
                                   aria-hidden="true" style="color: yellow"></i>
                                <i class="
                                         {% if product.rating < 3.5 %}far fa-star{% elif product.rating == 3.5 %}fa fa-star-half-alt {% else %} fa fa-star{% endif %} "
                                   aria-hidden="true" style="color: yellow"></i>
                                <p class="card-product__price text-danger"><strong>$</strong> {{ product.selling_price|intcomma }}</p>
                                
                           
                            <br/>
                            {% if user.is_authenticated and product.user_id == user.id or user.is_staff %}
                                    <a class="btn bg-primary text-white"
                                       href="{% url 'shop_product:product_edit' product.id %}"><small><i>Edit</i></small></a>
                                {% endif %}
                                
                                {% if user.is_authenticated and product.user_id == user.id or user.is_staff %}
                                    <a class="btn bg-danger text-white ml-1"
                                       href="{% url 'shop_product:delete_product' product.id %}"><small><i>Delete</i></small></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center pt-2 pb-2">
            <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline bg-primary">««</a>
                {% endif %}

                <span class="current text-light btn bg-primary">
                    {{ page_obj.number }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline bg-primary"> »»</a>
                {% endif %}
            </span>
            </div>
        </div>
    </section>

{% endblock content %}
