{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load i18n %}



{% block content %}

    <div  style="max-height: 400px; overflow: auto; min-width: 50%;">
        {% if searched %}
            <h3 class="login__title title text-center">{% trans 'Siz uchbu narsa boyicha qidirdingiz' %}<br>{{ searched }}</h3>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product border">
                            <div class="card-product__img ">
                                <img class="card-img" src="{{ product.image.url }}" alt="">
                            </div>
                            <div class="card-body">
                                <h3>{{ product.name }}</h3>
                                <p>{{ product.brand }}</p>
                                <h6 class="card-product__title mt-2"><a
                                        href="{% url 'shop_product:pro_detail' product.slug %}">Ko'rish
                                </a></h6>
                                <i class="
                                        {% if product.rating < 0.5 %}far fa-star {% elif product.rating == 0.5 %} fa fa-star-half-alt {% else %} fa fa-star {% endif %} "
                                   aria-hidden="true" style="color: yellow"></i>
                                <i class="
                                         {% if product.rating < 1.5 %}far fa-star {% elif product.rating == 1.5 %}fa fa-star-half-alt {% else %} fa fa-star{% endif %} "
                                   aria-hidden="true" style="color: yellow"></i>
                                <i class="
                                        {% if product.rating < 2.5 %}far fa-star{% elif product.rating == 2.5 %}fa fa-star-half-alt {% else %} fa fa-star{% endif %} "
                                   aria-hidden="true" style="color: yellow"></i>
                                <i class="
                                         {% if product.rating < 3.5 %}far fa-star{% elif product.rating == 3.5 %}fa fa-star-half-alt {% else %} fa fa-star{% endif %} "
                                   aria-hidden="true" style="color: yellow"></i>
                                <p class="card-product__price text-danger"><strong>$</strong> {{ product.selling_price|intcomma }}</p>
                                
                            <tr>
                                <th><i class="bi bi-eye-fill"></i> {{ product.view_count }}</th>
                            </tr>
                            <br/>
                            {% if user.is_authenticated and product.user_id == user.id or user.is_staff %}
                                    <a class="btn bg-primary text-white"
                                       href="{% url 'shop_product:product_edit' product.id %}"><small><i>Edit</i></small></a>
                                {% endif %}
                                
                                {% if user.is_authenticated and product.user_id == user.id or user.is_staff %}
                                    <a class="btn bg-danger text-white ml-1"
                                       href="{% url 'shop_product:delete_product' product.id %}"><small><i>Delete</i></small></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h3 class="login__title title text-center">Hey! You forgot to searched for.. </h3>
        {% endif %}

    </div>

{% endblock %}