{% extends 'layout.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <section class="login_box_area section-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login_box_img">
                        <div class="hover">
                            <h3>Prolni o'zgartirish</h3>
                            <form method="post">
                                <div class="text-light">
                                    {% csrf_token %}
                                    {{ form | crispy }}
                                    <button class="btn btn-primary mt-3" type="submit">Saqlash</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner register_form_inner">


                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}