{% extends 'form.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row mt-5">
        <div class="col-lg-6 offset-4">
            <div class="card border-success" style="width: 25rem;">
                <div class="card-header bi-arrow-down-circle"> Tizimga kirish</div>
                <div class="card-body">
                    <form action="#" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-outline-success">Saqlash</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}