{% extends 'layout.html' %}
{% load i18n %}

{% block content %}
    <section class="login_box_area section-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-3">
                    <div class="login_box_img">
                        <div class="hover">
                            {% if user_profile.image %}

                            <img src="{{ user_profile.image.url }}" class="shadow ml-2 mb-3" alt=""
                            style="width: 250px; height: 250px; border-radius: 50%;">
                            {% else %}
                            <img src="/media/user.png" alt="" class="shadow-lg"
                            style="width: 200px; height: 200px; border-radius: 50%;">
                            {% endif %}
                       
                            <h2>{{ user_profile }}</h2>
                            <h5>{{ user_profile.first_name }}
                                <br>{{ user_profile.last_name }}<br>{{ user_profile.email }}
                                <br>{{ user_profile.phone }}</h5>
                            <a class="button button-account mt-4" href="{% url 'account:profil' %}">{% trans 'Profilni ozgartirish' %}</a>
                            <a class="button button-account mt-4" href="{% url 'account:changepassword' %}">{% trans 'Parolni uzgartirish' %}</a>
                            <a class="button button-account mt-4" href="{% url 'shop_product:useraddproduct' %}">{% trans 'Mahsulot qoshish' %}</a>
                            <a class="button button-account mt-4" href="{% url 'account:order_history' %}">{% trans 'Buyurtma tarixi' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}