<!doctype html>
{% load static %}
{% load cart_tags %}


<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SHOP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'account/bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'account/bootstrap-icon/bootstrap-icons.css' %}"/>
    <link rel="stylesheet" href="{% static 'account/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'account/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'account/linericon/style.css' %}">
    <link rel="stylesheet" href="{% static 'account/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'account/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'account/nice-select/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'account/nouislider/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/style.css' %}"/>

</head>
<body>
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="index.html"><img src="../account/static/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'shop_product:pro' %}">Home</a>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link"
                                                        href="{% url 'shop_product:all_product' %}">Shop
                                    Category</a></li>
                                <li class="nav-item"><a class="nav-link"
                                                        href="../shop_product/templates/shop_product/single-product.html">Product
                                    Details</a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                                        href="../shop_product/templates/shop_product/checkout.html">Product
                                    Checkout</a></li>
                                <li class="nav-item"><a class="nav-link"
                                                        href="../shop_product/templates/shop_product/confirmation.html">Confirmation</a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                                        href="../shop_product/templates/shop_product/cart.html">Shopping
                                    Cart</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link"
                                                        href="../shop_product/templates/shop_product/blog.html">Blog</a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                                        href="../shop_product/templates/shop_product/single-blog.html">Blog
                                    Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu">
                                {% if user.is_authenticated %}

                                    <li class="nav-item"><a class="nav-link"
                                                            href="{% url 'account:logout' %}">Logout</a>
                                    </li>
                                {% else %}

                                    <li class="nav-item"><a class="nav-link" href="{% url 'account:login' %}">Login</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link"
                                                            href="{% url 'account:register' %}">Register</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav-shop">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'shop_product:mycart' %}">Cart
                                    <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li class="nav-item"><a class="button button-header"
                                                    href="{% url 'account:profil' %}">{{ request.user }}</a>
                            </li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="{% url 'account:logout' %}">Logout</a>
                            </li>


                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account:login' %}">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account:register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                    <div>
                    
                        <form action="{% url 'shop_product:search' %}" method=POST class="input-group filter-bar-search ">
                            {% csrf_token %}
                            <input type="text" placeholder="Search"  name="searched">
                            <div class="input-group-append">
                                <button class="search_button" type="submit"><i class="ti-search"></i></button>
                            </div>
                        </form>
                    
                    </div>
                </div>

            </div>
        </nav>
    </div>
</header>




<!--================ Hero banner start =================-->

<!--================ Hero Carousel start =================-->

<div class="mt-5 pt-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
</div>



    {% block content %}{% endblock %}



{#    <!-- ================ Best Selling item  carousel end ================= -->#}

<!-- ================ Blog section start ================= -->


<!--================ Start footer Area  =================-->
<footer class="footer">
    <div class="footer-area">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title large_title">Bizning missiyamiz</h4>
                        <p>

                        </p>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Havolalar</h4>
                        <ul class="list">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Product</a></li>
                            <li><a href="#">Brand</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h4 class="footer_title">Gallery</h4>
                        <ul class="list instafeed d-flex flex-wrap">
                            <li><img src="../account/static/img/gallery/r1.jpg" alt=""></li>
                            <li><img src="../account/static/img/gallery/r2.jpg" alt=""></li>
                            <li><img src="../account/static/img/gallery/r3.jpg" alt=""></li>
                            <li><img src="../account/static/img/gallery/r5.jpg" alt=""></li>
                            <li><img src="../account/static/img/gallery/r7.jpg" alt=""></li>
                            <li><img src="../account/static/img/gallery/r8.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Contact Us</h4>
                        <div class="ml-40">
                            <p class="sm-head">
                                <span class="fa fa-location-arrow"></span>
                                Head Office
                                <!DOCTYPE html>
                                <html lang="en">
                                <head>
                                    <meta charset="UTF-8">
                                    <title>Title</title>
                                </head>
                                <body>

                                </body>
                                </html>
                            </p>
                            <p>123, Main Street, Your City</p>

                            <p class="sm-head">
                                <span class="fa fa-phone"></span>
                                Phone Number
                            </p>
                            <p>
                                +99897 434-73-33<br>
                            </p>

                            <p class="sm-head">
                                <span class="fa fa-envelope"></span>
                                Email
                            </p>
                            <p>
                                erkinnajimov90@gmail.com <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex">
                <p class="col-lg-12 footer-text text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i>
                    by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'account/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'account/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'account/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'account/skrollr.min.js' %}"></script>
<script src="{% static 'account/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'account/nice-select/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'account/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'account/mail-script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'main/java.js' %}"></script>
</main>
</body>
</html>


